<div class="bg-slate-400 p-10 mt-16">
    <div class="flex justify-between p-3">
        <div class="nbrPro text-2xl">Nombre de produit : 5</div>
        <div class="qte text-2xl">Quantite en stock : 19</div>
    </div>
    <div class="bg-slate-300 h-[50em] rounded-xl p-10">
        <div class="flex justify-center space-x-10">
            <label for="" class="text-lg">Rechercher par : </label>
            <select name="" class="w-96 border-none" id="">

            </select>
            <input type="text" class="w-96 border-none" />
            <button class="bg-blue-500 text-white px-3 rounded-lg text-lg">
                Rechercher
            </button>
        </div>
        <div class="flex p-10 justify-between">
            <div class="space-x-1 text-lg">
                <span>Show</span>
                <span>
                    <select name="" id="" class="h-9">
                        <option value="">10</option>
                    </select>
                </span>
                <span>entries</span>
            </div>
            <div class="space-x-1 text-lg">
                <label for="" class="">Search : </label>
                <input type="text" />
            </div>
        </div>
        <div class="px-10 h-1/3">
            <table class="w-full">
                <thead class="p-3">
                    <tr class="flex justify-between w-full text-lg">
                        <th class="px-3 py-3">Photo</th>
                        <th class="px-3 py-3">Code</th>
                        <th class="px-3 py-3">Produit</th>
                        <th class="px-3 py-3">Prix</th>
                        <th class="px-3 py-3">Quantité</th>
                    </tr>
                    <hr class="bg-slate-950 h-1" />
                </thead>
                <tbody class="p-3">
                    <tr class="flex justify-between items-center text-lg shadow-lg">
                        <td class="px-3 py-3">
                            <img class="w-20 rounded" alt="" />
                        </td>
                        <td class="px-3 py-3"></td>
                        <td class="px-3 py-3"></td>
                        <td class="px-3 py-3"></td>
                        <td class="px-3 py-3"></td>
                        <td class="px-3 py-3">
                            <div class="flex space-x-2">
                                <button id="" class="px-2 py-1 text-white rounded bg-blue-500">
                                    Détail
                                </button>
                                <button id="" class="px-2 py-1 rounded bg-yellow-100">
                                    Edit
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>