<nav class="bg-[#292994] text-white border-b-7 border-yellow-400">
    <div class="w-full mx-auto flex flex-nowrap gap-20 p-2">
        <div class="flex items-center">
            <img src="assets/logo.jpg" class="h-20 w-30 m-2 ml-2 rounded-full" alt="" />
            <span class="text-3xl font-semibold whitespace-nowrap">BreukhCompagnie</span>
        </div>

        <div class="flex flex-col text-3xl mt-6">
            <span>Bienvenue {{ username }}</span>
            <span>{{ succursaleName }}</span>
        </div>

        <div class="hidden md:flex md:items-center md:space-x-8" id="navbar-user">
            <ul class="flex space-x-8">
                <li class="text-3xl">
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="text-3xl">
                    <a routerLink="/commande" routerLinkActive="active">Commandes</a>
                </li>
                <li class="text-3xl">
                    <a routerLink="/produit" routerLinkActive="active">Produits</a>
                </li>
                <li class="text-3xl">
                    <a routerLink="/tabBord" routerLinkActive="active">Tableau de bord</a>
                </li>
            </ul>

            <div>
                <button class="text-3xl ml-44" (click)="logout()">Déconnecter</button>
            </div>
            
        </div>
    </div>
</nav>